@page
@model JDWordSearchApp.Pages.WordSearches.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h1 style="display: flex; justify-content: center;">JD's Word Search C# APP</h1>

<h3 style="display: flex; justify-content: center;">Create a Word Search App Below!</h3>
<br />
<br />
<br />
<div class="container p-5 align-content-center">
    <form action="post" id="wordForm">
        <div class="mb-3">
            <label class="my-1 me-2" for="dimensions">Enter Word Search Dimensions</label>
            <input name="dimensions" id="dimensions" type="number" class="form-control" />
            <small id="wordSearchDimHelp" class="form-text text-muted">Only 1 number is required, as the Word Search will be a square</small>
            <p id="dimcheck" style="color: red;">Please enter only a number</p>
        </div>
        <div class="input-group mb-3">
            <label class="my-1 me-2" for="words">Enter any words you would like to use: </label>
            <input name="words" id="words" type="text" class="form-control"  />
            <button id="AddWord" class="btn btn-info">Add Word</button>
            <p id="wordcheck" style="color: red;">Word length must be less than the dimensions you set</p>
            <p id="wordlimit" style="color: red;">You have reached the maximum amount of words with these dimensions</p>
        </div>
        <br />
        <div class="col text-center">
            <button id="submit" class="btn btn-primary">Generate Word Search</button>
        </div>
    </form>
</div>
<div style="display: flex; width: 50%;" id="titles">
    <h3 style="flex: 1; margin: 10px;">Dimensions</h3>
    <h3 style="flex: 1; margin: 10px; margin-right: 20px;">Words Chosen</h3>
</div>
<div style="display: flex; width: 50%;">
        <h6 style="flex: 1; margin: 10px;" id="dimNumber"></h6>
        <ul style="flex: 1; margin: 10px; margin-right: 20px;" id="wordsChosen"></ul>
</div>
<div class="container">
    <div class="col text-center">
        <button id="regen" class="btn btn-primary mb-3">Remake Word Search</button>
    </div>
    <div class="row">
        <div id="wordgame" class="col-6"></div>
        <div class="col-6 bg-info" id="listContain" style="border-radius: 20px; padding: 10px;">
            <h3 class="col text-center">Solutions</h3>
            <ul id="wordList"></ul>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#dimcheck').hide();
            $('#wordcheck').hide();
            $('#wordlimit').hide();
            $('#regen').hide();
            $('#listContain').hide();
            let dimError = true;
            let wordError = true;
            let wordLimit = false;
            let wordCount = 1;

            let wordArr = new Array();

            $(function () {
                $('#dimensions').on('focusout', function () {
                    let dim = parseInt($("#dimensions").val());
                    if (isNaN(dim)) {
                        $('#dimcheck').show();
                        dimError = false;
                        return false;
                    } else {
                        $('#dimcheck').hide();
                        $("#dimNumber").text(dim);
                        dimError = true;
                    }
                });
            });
            $(function () {
                $('#AddWord').on('click', function (e) {
                    let dim = parseInt($('#dimensions').val());
                    let word = $("#words").val();
                    if(word.length > dim ) {
                        $('#wordcheck').show();
                        wordError = false;
                        return false;
                    }  
                    if(wordCount > dim) {
                        $('#wordlimit').show();
                        wordLimit = true;
                        return false;
                    } else {
                        e.preventDefault();
                        $("#wordsChosen").prepend('<li>' + word + '</li>');
                        $('input[type="text"]').val("");
                        $('#wordcheck').hide();
                        $('#wordlimit').hide();
                        wordError = true;
                        wordCount = wordCount + 1;
                    }
                    
                });
            });
            $(function () {
                $('#submit').on('click', function (e) {
                    if (dimError == true && wordError == true ) {
                        e.preventDefault();
                        let dim = parseInt($("#dimensions").val());
                        let listItems = $("#wordsChosen li");
                        listItems.each(function(idx, li) {
                            let word = $(li).text();
                            console.log(word);
                            wordArr[idx] = word.toUpperCase();
                        });
                        let wordData = { dims: dim, words: wordArr };
                        console.log(wordData);
                        $.ajax({
                            url: "/WordSearches/Index?handler=Partial",
                            type: 'GET',
                            data: wordData,
                            traditional: true
                        }).done(function(result) {
                            $('#wordgame').html(result);
                        });
                        $('#submit').hide();
                        $('#regen').show();
                        $('#dimNumber').hide();
                        $('#titles').hide();
                        $('#wordsChosen').hide();
                        $('#wordForm').hide();
                        $('#listContain').show();
                        for (let i = 0; i < wordArr.length; i++) {
                            $("#wordList").prepend('<li>' + wordArr[i] + '</li>');
                        }
                    }
                    else {
                        alert('Please make sure your fields are valid');
                    }
                });
            });
            $(function () {
                $('#regen').on('click', function (e) {
                    if (dimError == true && wordError == true) {
                        e.preventDefault();
                        let dim = parseInt($("#dimensions").val());
                        let wordData = { dims: dim, words: wordArr };
                        console.log(wordData);
                        $.ajax({
                            url: "/WordSearches/Index?handler=Partial",
                            type: 'GET',
                            data: wordData,
                            traditional: true
                        }).done(function (result) {
                            $('#wordgame').html(result);
                        });
                    }
                    else {
                        alert('Please make sure your fields are valid');
                    }
                });
            });
        });
    </script>

}